alembic==1.15.2
blinker
cffi
click
cryptography
dnspython
email_validator
Flask
Flask-Login
Flask-Migrate==4.1.0
Flask-SQLAlchemy
Flask-WTF==1.2.2
greenlet
gunicorn==23.0.0
idna
itsdangerous
Jinja2
Mako==1.3.9
MarkupSafe
packaging==24.2
pycparser
setuptools==75.8.0
SQLAlchemy
typing_extensions
Werkzeug
wheel==0.45.1
WTForms==3.2.1
