body {
    background-color: #e6bdcc;
    background-image: url('/static/images/background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Это сделает фон неподвижным */
    min-height: 100vh;
    padding-top: 65px;
}

.mainbody
.container {
    background-color: rgba(255, 255, 255, 0.8); /* Лёгкий полупрозрачный фон для контейнера */
    border-radius: 20px; /* Скругляем углы */
    padding: 40px; /* Отступы внутри контейнера */
    width: 100%; /* Ширина 100% от родительского элемента */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
}

/* Сделаем цвет событий более ярким */
.fc-event {
    background-color: #ff7f50; /* Оранжевый */
    border-color: #ff7f50; /* Оранжевый */
}

/* Изменим стиль события при наведении */
.fc-event:hover {
    background-color: #ff6347;
    cursor: pointer;
}

.fc .fc-daygrid-day-number,
.fc .fc-col-header-cell a {
    color: inherit;          /* Наследовать цвет от родителя */
    text-decoration: none;   /* Убрать подчёркивание */
    font-weight: 500;        /* Можно сделать чуть жирнее, если нужно */
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #ff7f50;
    border-color: transparent;
    color: #fff;
}

.daterangepicker td.in-range {
    background-color: #ff7f5050;
    border-color: transparent;
    color: #000;
    border-radius: 0;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    opacity: 0.2;
}