{% extends "base.html" %}

{% block title %}
Creating game
{% endblock %}

{% block content %}
    <h1>Creating game</h1>
    <div class="col-8">
    <form method="POST" action="/add">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label for="dates">Choose dates:</label>
            <p>from : <input type="datetime-local" id="start-time" name="start_time"></p>
            <p>to : <input type="datetime-local" id="end-time" name="end_time"></p>
        </div>
        <div class="form-group">
            <label for="players">Choose players count:</label>
            <p>min : <input type="text" id="min-player-count" name="min_player_count"></p>
            <p>max : <input type="text" id="max-player-count" name="max_player_count"></p>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Create new game</button>
    </form>
</div>
    <a href="{{ url_for('profile') }}" class="btn btn-secondary mt-3">Back</a>
{% endblock %}