{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <div class="col-8">
    <form method="POST" action="/login">
        <div class="form-group">
            <label for="email">email:</label>
            <input type="text" class="form-control" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Login</button>
    </form>
    <a href="{{ url_for('register') }}" class="btn btn-secondary mt-3">Register</a>
</div>
{% endblock %}