{% extends 'base.html' %}

{% block modals %}
    {% set include_leave_modal = True %}
    {% set include_delete_modal = True %}
    {% include 'components/modals.html' %}
{% endblock %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<h1 class="mb-5">Profile</h1>

<!-- Профиль пользователя -->
<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <!-- Аватарка -->
            <div class="text-center">
                <img src="{{ user.avatar_url }}" alt="Avatar" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
            </div>
        </div>
        <div class="col-md-9">
            <!-- Имя и email -->
            <h6 class="mb-3">Name: {{ user.name }}</h6>
            <h6 class="mb-3">Email: {{ user.email }}</h6>
            <h6 class="mb-3">About:</h6>
            <!-- About раздел -->
            <p>{{ user.about or 'This user has not written anything about themselves yet.' }}</p>

            <!-- Кнопка редактирования профиля -->
            <a href="{{ url_for('user.profile') }}" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
</div>

<!-- Раздел моих игр -->
<div class="container my-5">
    <h2>My games</h2>
    <div class="row">
        <div class="col-md-6">
            <h4>Participating</h4>
            {% for game in participated_games %}
                <div class="card mb-3">
                    <form action="/leave_game/{{ game.id }}">
                        <div class="card-header fw-bold">{{ game.title }}</div>
                        <div class="card-body">
                            <p class="badge bg-primary text-wrap">{{ game.organizer.name }}</p>
                            <p class="card-text">Players ({{ game.min_player_count }} - {{ game.max_player_count }}) : 
                            <strong>{{ game.player_count }}</strong></p>
                            <p class="card-text">Dates: <br>
                            from : <strong>{{ game.start_time }} </strong> <br>
                            to : <strong> {{ game.end_time }} </strong> </p>
                        </div>
                        <button type="submit" class="btn btn-danger">Leave game</button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h4>Hosting</h4>
            <a href="{{ url_for('games.add') }}" class="btn btn-primary">Create new game</a>
            {% for game in created_games %}
                <div class="card mb-3">
                    <form action="/delete/{{ game.id }}">
                        <div class="card-header fw-bold">{{ game.title }}</div>
                        <div class="card-body">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <p class="card-text">Players ({{ game.min_player_count }} - {{ game.max_player_count }}) : 
                            <strong>{{ game.player_count }}</strong></p>
                            <p class="card-text">Dates: <br>
                            from : <strong>{{ game.start_time }} </strong> <br>
                            to : <strong> {{ game.end_time }} </strong> </p>
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
